<div class="main">
  <div class="inner">
    <div class="user__wrapper">     
      <h2 class="page-heading">
        <%= @name %>さんのお料理一覧
      </h2>
      <div class="user__card">
        <%# 部分テンプレートでそのユーザーが投稿したプロトタイプ投稿一覧を表示する %>
        <%= render partial: "recipes/recipe", collection: @recipes %>
      </div>
    </div>
  </div>
</div>